.navigator{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo #logo{
    font-weight: bold;
    width: 10px;
    cursor: pointer;
    margin-left: 220px;
    font-size: 40px;
    font-family: 'Moirai One', system-ui;
    background-color: transparent;
    color: rgb(221, 221, 221);
    transition: 0.9s;
}
.logo #logo:hover{
    color: white;
}

.navigator ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 180px;
}


.navigator ul li{
    
    list-style-type: none;
    margin-right: 50x;
    align-items: space-evenly;
    padding-right: 60px;
}

.navigator a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    background-color: rgb(89, 92, 94);
    border-radius: 50px;
    transition: 0.5s;
    font-family: 'Audiowide', sans-serif;
    font-size: 13px;
}

.navigator a:hover{
    text-decoration: none;
    color: rgb(62, 60, 60);
    padding: 10px;
    background-color: rgb(225, 229, 232);
    border-radius: 50px;
}

.navigator i{
    margin-left: 2px;

    
}

.testo ul{
    list-style-type: none;
    display: block;
    justify-content: space-between;
}