body{
    margin: 0;
    padding: 0;
}

#div_login,#form_login,#registrati_ora,#titolo_registrazione,#form_registrazione, #titolo_registrazione,p{
    text-align: center;
    padding: 5px;
}

#messaggi_errori_login {
    text-align: center;
    margin-top: 20px;
}

.fa-regular.fa-user {
    justify-content: center;
    margin-top: 80px;
    color: #333;
    font-size: 100px;
}

#titolo_login, #titolo_registrazione{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}


input[type=text], input[type=password],input[type=email] {
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
}


button[type=submit]{
    cursor: pointer;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.3s;
}

button[type=submit]:hover{
    background-color: #a9a9a9;
    color: #f0f0f0;
}