body{
    margin: 0;
    padding: 0;
}

#div_login,#div_registrazione,#form_login,#registrati_ora,#titolo_registrazione,#form_registrazione, #titolo_registrazione,.box,p{
    text-align: center;
    padding: 5px;
}

#messaggi_errori_login {
    text-align: center;
    margin-top: 20px;
}

.box{
    background-color: rgba(255, 255, 255, 0.533);
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 50px;
    border-radius: 20px;
}
#registrati_ora{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 80px;
}

#pulsante-registrazione{
    color: #001eff;
    text-decoration: none;
    transition: 0.2s;
    
}
#pulsante-registrazione:hover{
    color: #988bec;

}

.fa-regular.fa-user,.fa-solid.fa-id-card,.fa-solid.fa-users{
    justify-content: center;
    margin-top: 80px;
    color: #333;
    font-size: 100px;
}


#titolo_login, #titolo_registrazione{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

#titolo-profilo{
    font-family: 'Orbitron', sans-serif;

}

.informazioni_utente,#messaggi_errori,#messaggi_errori_login{
    font-family: 'Montserrat', sans-serif;

}
.informazioni_utente h4{
    font-size: 20px;
}




input[type=text], input[type=password],input[type=email] {
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
}


button[type=submit]{
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.3s;
}

button[type=submit]:hover{
    background-color: #a9a9a9;
    color: #f0f0f0;
}
