body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-image: url('img/vector-JUL-2021-67.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.highlights {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
}

.highlight-images {
    flex: 0 0 calc(250px - 30px);
    height: calc(300px - 30px);
    background: #000;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    animation: slideAnimation 10s linear infinite;
}

.highlight-images img {
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;

}

.container{
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 100px auto;
}

.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}

.container .box .image{
    position: relative;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: 0.5s;
    z-index: 1;
}
.titolo, .sottotitolo {
    z-index: 1;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

.container .box .image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .box:hover .image{
    opacity: 0.5;
    background: #3f3c3c;
}

.container .box .title,
.container .box .datetime {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: white; 
    text-align: center;
    z-index: 2;
}

.container .box .title {
    top: 10%;
}

.container .box .datetime {
    bottom: 10%;
}

.container .box:hover .title,
.container .box:hover .datetime {
    opacity: 1;
}

.container .box:hover{
    transform: scale(1.1);
}


#div_login,#form_login,#registrati_ora,#titolo_registrazione,#form_registrazione, #titolo_registrazione,p{
    text-align: center;
    padding: 5px;
}

#messaggi_errori_login {
    text-align: center;
    margin-top: 20px;
}