body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: auto;
    height: auto;
    background-image: url('vector-JUL-2021-67.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

}

.container img{
    max-width: 150px;
    width: 140px;
    height: auto;
}